* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: sans-serif;
}

html >img {
  width: inherit;
}

img {
  width: 400px;
  height: 400px;
}

body{
  display: flex;
  flex-direction: column;
  align-content: center;

}

#welcome-section {
  height: 100vh;
  text-align: center;
  padding:  10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#welcome-section h1 {
  margin-bottom: 14px;
}

#navbar {
  display: flex;
  padding: 3rem;
  background-color: red;
  justify-content: center;
  position:fixed;
}

 ul {
list-style: none;
display: flex;
}

li:not(:last-child){
  margin-right: 20px;
}

li a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

li a:hover {
  color: #ccc;
}

@media only screen and (max-width: 600px) {
  body {
    width: 80%;

  }
}

